a {
    color: blue; /* Define a cor do texto como azul */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 25px; /* Define o tamanho da fonte como 25 pixels */
}
body {
    background-color: green;
    margin: 10;
    padding: 30px;
    font-family: Arial, sans-serif; /* opcional: define a fonte do texto no corpo da página */
    text-align: center;
    text-decoration: none;

}

h1 {
    color: rgb(0, 0, 0); /* opcional: define a cor do texto dentro do elemento h1 */
}
body {
    background-color: #1b2c0c;
    margin: 10;
    padding: 30px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0); /* Texto preto */
    text-align: center;
}
  
body{
    color:#1b2c0c(46,227,0);
    background: rgb(12,27,83);
    background: linear-gradient(90deg, rgb(132, 159, 255) 16%, rgb(227, 255, 211) 100%);
   text-align: center;
}
 